    @font-face {
	    font-family: Subheader;
	    src: url(/fonts/Caracas.ttf);
    }

    @font-face {
	    font-family: Body;
	    src: url(/fonts/Philosopher.ttf);
    }

    html {
	    background: url(/images/pattern.svg), linear-gradient( rgba(5,34,23,1), rgba(28,94,68, 1) );
	    background-size: 16px, contain;
	    background-clip: content-box;
	    background-repeat: repeat, no-repeat;
	    background-attachment: scroll, fixed;
	    background-color: rgba(28,94,68, 1);
	    height: 100%;
    }

    body {
	    font-family: Body;
	    margin: 0px;
	    text-size-adjust: 100%;
    }

    header {
	    font-size: 14pt;
	    max-width: 74%;
	    text-align: center;
	    font-family: Subheader;
	    line-height: 18pt;
    }

    header span {
		    animation: fadeIn 0.34s;
    }

    header > img {
	    height: 23vmin;
	    padding-top: 5vmin;
	    margin-bottom: -2.3vmin;
	    animation: fadeIn 0.34s ease-out;
    }

    article, header {
	    color: rgba(192, 255, 134, 0.74);
	    text-shadow: 0px 3px 0px black;
	    margin-left: 13%;
	    margin-right: 13%;
	    margin-bottom: 23pt;
    }

    article {
	    font-size: 23pt;
	    text-align: justify;
	    text-align-last: center;
	    max-width: 100%;
	    animation: fadeIn .78s;
	    line-height: 97%;
    }
    article > p {
	    margin: 0pt 5% 7pt 5%;
    }

    @keyframes fadeIn {
        0%
        {
    	    opacity: 0;
        }
        100%
        { 
    	    opacity: 1;
	    }
    }

    @keyframes focus {
        0%
        {
	        filter: blur(23px);
	        opacity: 0;
	        width: 26vmin;
        }
        100%
        {
	        filter: blur(0px); 
	        opacity: 1;
	        width: 23vmin;
        }
    }

    @keyframes expand {
        0%
        {
	        max-width: 5%;
        }
        100%
        { 
	        max-width: 100%;
        }
    }

    hr {
	    margin-top: 1vmin;
	    margin-bottom: -2.3pt;
	    height: 3px;
	    background-color: #ebdf00;
	    border: none;
	    border-radius: 45%;
	    animation: expand 0.8s ease;
	    box-shadow: 0px 2px 0px black;
    }

    footer {
	    position: absolute;
	    bottom: 0px;
	    z-index: -1;
	    text-align: right;
	    width: 100%;
    }

    footer > img {
	    width: 23vmin; 
	    margin-right: 5vmin;
	    margin-bottom: 2%;
	    margin-top: -7vmin; 	
	    
	    animation: focus 1s ease-in-out;
    }

    @keyframes rise {
        0%
        {
	        opacity: 0;
	        background-position: bottom;
        }
        55%
        {
	        opacity: 0;
        }	
        100%
        {
	        opacity: 1;
	        background-position: center;
        }
    }

    .buttons {
	    text-align: center;
	    text-align-last: center;
	    margin-top: 1vmin;
	    padding: 0;
	    width: 100%;
    }
    a {
		    text-shadow: 0px 3px 0px black;
	    text-decoration: none;
	    color: rgba(192, 255, 134, 1);
	    
	    transition: text-shadow 0.05s;
    }
    a:hover {
	    color: whitesmoke;
	    text-shadow: 0px 3px 0px rgba(64,123,42, 1);
	    transition: text-shadow 0.05s;
    }
    .buttons li {
	    font-size: 4.2vmin;
	    background: rgba(28,94,68, 1);
	    display: inline-block;
	    height: 16vmin;
	    width: 16vmin;
	    border: 1px inset rgba(0,0,0,0.13);
	    border-radius: 4vmin;
	    box-shadow: -1vmin -2vmin 3vmin inset rgba(0,0,0,0.34);
	    margin: 0px 0.42vmin 1vmin 0.42vmin;
	    
	    animation: rise 0.99s ease-out;
	    transition: background-color 0.13s ease-out, box-shadow 0.1s ease-out;
    }
    .buttons li:hover {
	    background-color: rgba(64,123,42, 1);
	    transition: background-color 0.08s ease-in, box-shadow 0.1s ease-in;
	    box-shadow: -1vmin -2vmin 3vmin inset rgba(0,0,0,0.34), 0vmin .05vmin 2.3vmin rgba(150,200,100, .14);
    }
    .buttons li > p {
	    text-align-last: center;
	    padding-top: 1vmin;
    }

    #linux {
	    background: url(/images/linux.svg), rgba(28,94,68, 1);
	    animation: rise .55s ease-out;
    }
    #blender {
	    background: url(/images/blender.svg), rgba(28,94,68, 1);
	    animation: rise .66s ease-out;
    }
    #inkscape {
	    background: url(/images/inkscape.svg), rgba(28,94,68, 1);
	    animation: rise .77s ease-out;
    }
    #gimp {
	    background: url(/images/gimp.svg), rgba(28,94,68, 1);
	    animation: rise .88s ease-out;
    }
    #linux p, #blender p, #inkscape p, #gimp p {
	    padding-top: 12vmin;
    }
    #linux, #blender, #inkscape, #gimp {
	    background-size: 12vmin;
	    background-repeat: no-repeat, repeat;
	    background-position: center;
		    
	    
    }
    #linux:hover, #blender:hover, #inkscape:hover, #gimp:hover {
	    background-color: rgba(64,123,42, 1);
    }

    li {
        list-style-type: none;
    }
    .split {
        width: 42%;
        display: inline-block;
        padding: 0 4%;
    }
